.btn-hover:hover {
  color: #00b074;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

.bg {
  color: #00b074;
}
.btn-bg{
  background-color: #00b074;
}

.small-bg{
  background-color: #EFFDF5;
}

#accordion {  
    .card-header{
        margin-bottom: 8px;
    }
    .accordion-title{
        position: relative;
        display: block;
        padding:15px 0 15px 50px;
        border: 1px solid #00b074 !important;
        background: white;
        border-radius: 8px;
        overflow: hidden;
        text-decoration: none;
        color: black;
        font-weight: 600;
        width: 100%;
        text-align: left;
        transition: all .4s ease-in-out; 
        i{
            position: absolute;
            width: 40px;
            height: 100%;
            left: 0;
            top: 0;
            color: #fff;
            background: radial-gradient(rgba(#213744, .8), #213744);
            text-align: center;
            border-right: 1px solid transparent;
        }
        &:hover{
            padding-left: 60px;
            background: #00b074;
            color: #fff;
            
            i {
                border-right: 1px solid #fff;
            }
        }
    }
    [aria-expanded="true"]{
        background: #24b365;
        
        color: #000;
        i {
            color: #000;
            
            background: #24b365;
          &:before{
                content: "\f068" ;
            }
        }
    }
    .accordion-body{
        padding: 20px 20px;
        
    }
}

.custom-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .custom-img {
    height: auto;
    object-fit: cover;
  }
}

.hero-btn:hover{
  color: white !important;
}